@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
        var curr_user = await UserManager.GetUserAsync(User);

        <p>You are now logged in!</p>
        <p>Your bank Id: @curr_user.Id</p>
        <p>You currently have @curr_user.Money Kr on the bank.</p>

        <a class="nav-link" href="BankTransactions">List of your transactions</a>
    }
else
{
        <p>Please login, or register, to use our services.</p>
}
